# macOS system files
.DS_Store
.AppleDouble
.LSOverride
._*

# Files that may appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Rust
/target
# Custom stuff
WIP
test

# moon
.moon/cache
.moon/docker
